/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
Whole Page
   ========================================================================== */
body{
    font-family: 'NTR', sans-serif;

}
/* ==========================================================================
 Section1
   ========================================================================== */
.topbar-column1{
    position:fixed;
    top:.03125em;
    left:2.81em;
    z-index: 10;
    color:#fff;
    font-size: 60%;

}
.topbar-column2{
    position:fixed;
    top:.03125em;
    right:1em;
    z-index: 10;
}
.backgroundgraident{
    display:inline;
    height:680px;
    max-width: 100%;
    z-index: -10;
}
.section1-body{
    position: absolute;
    left:15em;
    top:14em;
    z-index: 10;
    color:#fff;
    letter-spacing: 0.09375rem;
    line-height: 0.09375rem;
}
.section1-body a:hover{
    background-color: rgb(179, 67, 82);
    text-decoration: none;

}
.section1 h1{
    font-size: 255%;
}
.intro{
    text-transform: uppercase;
    font-size: 75%;
}
.mission{
    font-size:320%;
}
.more-about-us{
    color:#fff;
}
.section1-body h3{
    font-size: 150%;
    letter-spacing:0.09375rem;
}
.section1-body a:visited{
    color:#fff;
}
.main-nav{
    position: fixed;
    top:6em;
    right:1.5em;
    color:#fff;
    letter-spacing: 0.09375rem;
    text-align: left;

}
.main-nav ul{
    list-style-type: none;
}
.main-nav a{
    text-decoration: none;
}    
.main-nav a:visited{
    color:#fff;
    text-decoration: none;
}
.main-nav h2{
    font-weight: lighter;
    line-height: 2.5em;
}
/* ==========================================================================
 Section2
   ========================================================================== */
.section2-column1{
    float:left;
    background-color: rgb(223, 67, 67);
    width: 40%;
    height:40em;
}
.purpous p{
    width:10em;
}
.section2-column2{
    float:right;
    width: 60%;
}

.connect-img{
    position: absolute;
    right:0em;
    z-index: -10;
    width: 60%;
    height:40em;

}
.column1-content h3{
    color:#fff;
    font-size: 160%;
    line-height: .5em;
}

.section2 p{
    color:#fff;
    line-height:1.8;
}
.section2 a{
    color:#fff;
}
.section2 a:hover{
    text-decoration: none;
}
.column1-content{
position:absolute;
top:54em;
left:12.5em;
}
/* ==========================================================================
 Section3
   ========================================================================== */
.section3{
    clear:both;
    background-color: #fff;
    height:20em;
    color:rgb(223, 67, 67);
    padding:5em;
;
}
.section3-content{
        border: 0.625em solid rgb(223, 67, 67);
        width:40em;
        height:10em;
        position:relative;
        left: 10em;
        padding:4em;
        padding-top: 1em;

}

.section3-content h3{
    text-align: center;

}
.section3-content p{
    padding-left:6em;
}

.lets-talk{
    position: relative;
    top:1em;
    left:25%;
    font-size: 230%;
}
.section3 a{
    color: #fff;
}
.section3 a:hover{
    text-decoration: none;
    background-color: rgb(243, 140, 156);
}
.section3 a:visited{
color:#000;
}


/* ==========================================================================
Footer
   ========================================================================== */
footer{
    background:rgb(247, 214, 53);
    height:22em;
}

.footer-leftcolumn{
position:relative;
top:5em;
left:3em;
font-size: 175%;
width: 20%;
}

.footer-rightcolumn2{
position:absolute;
right:10em;
width:15%;
line-height: .4em;
}

.footer-rightcolumn1{
position: absolute;
right:30em;
width:15%;
}

.work-with-us{
    color:#000;
}
.content-far-right{
    color:#000;
}

.footer-rightcolumn2 a{
    color:#000;
}
.footer-rightcolumn1 a{
    color:#000;
}


/* ==========================================================================
Fixed Footer
   ========================================================================== */

.fixed-footer{
font-size: 75%;
color:red;
}
.fixed-footer-column1{
position:fixed;
bottom:1em;
left:1em;
line-height: 1em;

}

.fixed-footer-column2{
position:fixed;
bottom:1em;
right:1em;
}

.fixed-footer-column2 a{
    color:red;
}
.base-footer{
    position: relative;
}
.footer-column1{
    position: absolute;
    top:23em;
    left:1em;
}
.footer-column2{
    position: absolute;
    top:23em;
    right:1em;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
